<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>IMAGE_STORAGE_LOCATION</param-name>
        <param-value>C:\Users\ASUS\Desktop\abc\UploadImg</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.authenticate.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.authenticate.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigupServlet</servlet-name>
        <servlet-class>controller.authenticate.SigupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceUserServlet</servlet-name>
        <servlet-class>controller.user.InvoiceUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAllProductServlet</servlet-name>
        <servlet-class>controller.user.UserAllProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoicelineController</servlet-name>
        <servlet-class>controller.admin.InvoicelineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.admin.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <servlet-class>controller.user.UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.shop.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewShopServlet</servlet-name>
        <servlet-class>controller.shop.NewShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShopServlet</servlet-name>
        <servlet-class>controller.shop.UpdateShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopManagerServlet</servlet-name>
        <servlet-class>controller.shop.ShopManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>controller.comment.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImages</servlet-name>
        <servlet-class>controller.system.DisplayImages</servlet-class>
    </servlet>
    <servlet>
        <!--<<<<<<< HEAD-->
        <servlet-name>NewProductServlet</servlet-name>
        <servlet-class>controller.product.NewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.product.UpdateProductServlet</servlet-class>
        <!--=======-->
    </servlet>
    <servlet>
        <servlet-name>CartControllerServlet</servlet-name>
        <servlet-class>controller.cart.CartControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>controller.cart.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushProductSessionServlet</servlet-name>
        <servlet-class>controller.cart.PushProductSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToanServlet</servlet-name>
        <servlet-class>controller.cart.ThanhToanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductSessionServlet</servlet-name>
        <servlet-class>controller.cart.AddProductSessionServlet</servlet-class>
        <!-->>>>>>> 57f8854f1efdd2ee9ebd2b441cdaf6d61bbd4e56-->
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigupServlet</servlet-name>
        <url-pattern>/SigupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceUserServlet</servlet-name>
        <url-pattern>/InvoiceUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAllProductServlet</servlet-name>
        <url-pattern>/UserAllProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicelineController</servlet-name>
        <url-pattern>/Dashboard/InvoiceLine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Dashboard/ProductInShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <url-pattern>/UpdateUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImages</servlet-name>
        <url-pattern>/DisplayImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewShopServlet</servlet-name>
        <url-pattern>/NewShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShopServlet</servlet-name>
        <url-pattern>/UpdateShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopManagerServlet</servlet-name>
        <url-pattern>/ShopManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <!--<<<<<<< HEAD-->
        <servlet-name>NewProductServlet</servlet-name>
        <url-pattern>/NewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>

    <!--=======-->
    <servlet-mapping>
        <servlet-name>CartControllerServlet</servlet-name>
        <url-pattern>/CartControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/RemoveProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushProductSessionServlet</servlet-name>
        <url-pattern>/PushProductSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToanServlet</servlet-name>
        <url-pattern>/ThanhToanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductSessionServlet</servlet-name>
        <url-pattern>/AddProductSessionServlet</url-pattern>
        <!-->>>>>>> 57f8854f1efdd2ee9ebd2b441cdaf6d61bbd4e56-->
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
